.todo {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  margin-top: 100px;
}

h1 {
  font-size: 20px;
}

button {
  font-size: 20px;
  padding: 10px 20px;
  color: white;
  background-color: #488a92;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #ccf6f6;
  color: #000000;
}

input[type="text"],
input[type="email"] {
  font-size: 20px;
  padding: 15px;
  border: none;
  background-color: #ccf6f6;
  color: #000000;
  border-radius: 5px;
}

textarea {
  font-size: 20px;
  padding: 25px 15px;
  height: 50px;
  border: none;
  background-color: #ccf6f6;
  color: #000000;
  border-radius: 5px;
}

ul {
  padding: 0;
}

li {
  font-size: 20px;
  padding: 10px;
  background-color: #a6edf2;
  color: #000000;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

ol li {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #244141;
  overflow: auto;
}

ol li a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  padding: 15px;
}

ol li a:hover {
  text-decoration: none;
  color: #a6edf2;
}
