* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.todo {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  background-color: #ffffff;
  width: 800px;
}

.todo-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem;
  height: 100%;
  width: 100%;
  background-color: #d9d9d9;
}

.screen {
  display: flex;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

h1 {
  font-size: 20px;
}

h2 {
  margin-top: 4rem;
  flex: 0.1 1 0;
}

button {
  font-size: 20px;
  padding: 10px 20px;
  color: white;
  background-color: #488a92;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.task-add {
  display: flex;
  padding: 10px;
}

.task-add input[type="text"] {
  background-color: #ccf6f6;
}

.button:hover {
  background-color: #ccf6f6;
  color: #000000;
}

.contact-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  height: 100%;
  width: 100%;
  background-color: #d9d9d9;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  font-size: 20px;
  padding: 15px;
  border: none;
  color: #000000;
  border-radius: 5px;
}

input[type="submit"] {
  font-size: 20px;
  padding: 10px 20px;
  color: white;
  background-color: #488a92;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

textarea {
  width: auto;
  font-size: 20px;
  padding: 45px 25px;
  height: 50px;
  border: none;
  color: #000000;
  border-radius: 5px;
  margin: 10px;
}

.contact-form {
  list-style-type: none;
  background-color: #ccf6f6;
  padding: 20px 200px;
}

.todo-item {
  font-size: 20px;
  padding: 10px;
  background-color: #a6edf2;
  color: #000000;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.text {
  flex: 1 1 0;
  text-align: left;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #244141;
  overflow: auto;
  height: 100vh;
}

.sidebar a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  padding: 15px;
}

.sidebar a:hover {
  text-decoration: none;
  color: #a6edf2;
}

.sidebar img {
  width: 35px;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 600px) {
  .sidebar {
    display: none;
  }
  .mobile-wrapper {
    position: relative;
  }
  .mobile {
    display: flex;
    justify-content: end;
    margin: 10px;
    align-items: center;
  }
  .screen {
    flex-direction: column;
  }
  .dropdown {
    background-color: #244141;
    list-style-type: none;
    position: absolute;
    top: 90%;
    right: 0;
    padding: 10px;
  }
  .dropdown a {
    text-decoration: none;
    color: #ffffff;
  }
  .mobile-link {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
  }
  .mobile-link img {
    width: 50px;
  }
  .todo {
    width: 350px;
  }
  .todo-box {
    padding: 1rem;
  }
  input[type="text"],
  input[type="email"] {
    width: 150px;
    font-size: 20px;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
  }

  textarea {
    width: 150px;
    font-size: 20px;
    padding: 15px;
    height: 40px;
    border-radius: 5px;
    margin: 5px;
  }

  .contact-form {
    list-style-type: none;
    background-color: #ccf6f6;
    padding: 15px;
  }
}
